<%- include('partials/header') %>
<style>
    /* html, body {
        margin: 0;
        padding: 0; 
        height: 100%; 
        overflow: hidden;
    } */
    
    body {
        background-image: url('/images/buttonImage.webp'); 
        background-size: cover;
        /* background-repeat: no-repeat; */
        background-position: center; 
        margin: 0; /* Removes any potential default margins */
        height: 100vh;
    }
</style>

<div class="brand-name">
  <span><h1>All Poems</h1></span>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4 poemCardContainer">
            <a href="#" class="card poemCard text-center " style="width: 23rem;">
                <!-- <img src="/images/scroll.png" class="card-img-top" alt="..."> -->
                <div class="card-body p-5">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </a>
        </div>
    </div>
    


</div>

<%- include('partials/footer') %>


<!-- <div class="col-12 col-lg-4 poemCardContainer">
            <a href="#" class="card poemCard text-center " style="width: 18rem;">
                <img src="/images/scroll.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  
                </div>
            </a>
        </div> -->