<%- include('partials/header') %>

<style>
    /* html, body {
        margin: 0;
        padding: 0; 
        height: 100%; 
        overflow: hidden;
    } */
    
    body {
        background-image: url('/images/home.jpg'); 
        background-size: cover;
        background-repeat:repeat;
        background-position: center; 
        margin: 0; /* Removes any potential default margins */
        height: 100vh;
    }
</style>

<div class="container home-container">
    <%- include('components/fixed-navbar') %>

    <h4 class="poem-text p-4">Login</h4>

    <% if (error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>

    <form method="post" action="/login" class="p-5">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-outline-dark">Login</button>
      </form>

</div>


<%- include('partials/footer') %>