hr{
  width: 350px;
}

textarea{
  height: 300px;
}

.home-container{
  margin-top: 30vh;
  background-color: white;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.fixed-top{
  position: fixed;
  width: 100%;
}


.poem-body{
  margin-bottom: 150px;
  /* padding-top: 40px; */
  padding-bottom: 30px;
  padding-left: 300px;
  padding-right: 300px;
}

.poemLink{
  color: rgb(87, 119, 189);
  text-decoration: none;
}

.poemLink:hover{
  color: rgb(87, 119, 189);
  text-decoration: underline;
}

.poem-text{
  color: rgb(87, 119, 189);
  text-decoration: none;
}

@media screen and (max-width: 991px) {

  hr{
    width: 150px;
  }

  textarea{
    height: 200px;
  }

  .home-container{
    margin-top: 30vh;
    background-color: white;

    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: auto;
    width: 100% !important;
  }

  
  .modal-backdrop{
    width: 300vw;
    overflow: hidden;
  }


  .poem-body{
    margin-bottom: 150px;
    /* padding-top: 40px; */
    padding-bottom: 30;
    padding-left: 10px;
    padding-right: 10px;
  }

  .home-container{
    margin-top: 30vh;
    background-color: white;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: fit-content !important;
  }

}
