hr{
  width: 350px;
}

textarea{
  height: 300px;
}

.home-container{
  margin-top: 5vh;
  background-color: white;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.add-top-margin{
  margin-top: 30vh !important;
}

.logo-container {
  margin-top: 20vh;
  text-align: center;
  background-color:transparent;
}

.logo-container img {
  width: 100px; 
  height: auto;
}

.invisible{
  display: none;
}

.fixed-top{
  position: fixed;
  width: 100%;
}

.modal-body {
  text-align: center;
}


.rounded-image {
  width: 150px; 
  height: 150px; 
  object-fit: cover; 
  border-radius: 50%; 
  margin: 0 auto;
}


.poem-body{
  margin-bottom: 150px;
  /* padding-top: 40px; */
  padding-bottom: 30px;
  padding-left: 300px;
  padding-right: 300px;
}

.poemLink{
  color: rgb(87, 119, 189);
  text-decoration: none;
}

.poemLink:hover{
  color: rgb(87, 119, 189);
  text-decoration: underline;
}

.poem-text{
  color: rgb(87, 119, 189);
  text-decoration: none;
}

@media screen and (max-width: 991px) {

  hr{
    width: 150px;
  }

  textarea{
    height: 200px;
  }

  .home-container{
    margin-top: 30vh;
    background-color: white;

    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: auto;
    width: 100% !important;
  }

  
  .modal-backdrop{
    width: 300vw;
    overflow: hidden;
  }


  .poem-body{
    margin-bottom: 150px;
    /* padding-top: 40px; */
    padding-bottom: 30;
    padding-left: 10px;
    padding-right: 10px;
  }

  .home-container{
    margin-top: 30vh;
    background-color: white;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: fit-content !important;
  }

}
